/* override table width restrictions as found on https://github.com/getpelican/pelican/issues/1311 */
a { color:#6b9080; font-family: 'Lato'!important; }
a:hover { color:#6b9080; }
a:visited { color:#6b9080; }

.highlight { background: #fffae4; }

/*.rst-content dl:not(.docutils) dt { background: #d5f0f1; color: #6b9080; border-top: solid 3px #6b9080; }*/
html.writer-html4 .rst-content dl:not(.docutils)>dt, 
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt { 
    background: #d5f0f1; color: #6b9080; border-top: solid 3px #6b9080;
}
dl.simple dt { border: none!important; background: transparent!important; }
.rst-content .viewcode-link, .rst-content .viewcode-back { color: #6b9080; }
.rst-versions .rst-current-version { color: #6b9080; }

.wy-table-responsive table td, .wy-table-responsive table th { white-space: normal !important; }
.wy-table-responsive { overflow: visible !important; }
.rst-content table.docutils thead th { font-size: 18px; color: #6b9080; }
span.table-shortcuts-title { font-size: 16px!important; font-weight: 700; color: #777; }
td:first-child, th:first-child { text-align: left!important; }

.wy-menu-vertical a:active { background-color: #6b9080; }

.wy-nav-content { max-width: 1200px; margin: unset; }

.wy-side-nav-search { background-color: #6b9080; }
.wy-side-nav-search>a:hover { background:none; }
.wy-side-nav-search>div.version { color:rgba(255, 255, 255, 1); }

/* !!! */
.ethical-rtd.ethical-dark-theme { display: none; }

.icon:before { display:none; }

.rst-content blockquote { margin-left: 0; background: #9dc0b1; color:#fff; padding: 15px; }
.rst-content blockquote code.literal { color: #6b9080; }
.rst-content blockquote div p { margin-bottom:0; }

dl.docutils dt {
    background: transparent!important;
    border-left: none!important;
    font-size: 100%!important;
    color: #404340!important;
}

.line-block .line:first-child {
	display: none;
}

p.rubric:after {
    content: ":";
}

span.rst-current-version span { font-family: 'Lato';}
.headerlink { font-family: 'FontAwesome'!important; }

details summary { margin-bottom: 10px; font-size: 18px; cursor: pointer; }
details p { padding-left: 20px; }
details ul { margin-left: 15px; }

.btn { background: transparent; color: #6b9080; box-shadow: none; margin: 5px 5px 0; border-radius: 5px; border-color: #6b908066;}
.btn:hover, .btn:focus  { background: #6b9080; color: #fff; }    
.btn:visited { color: #6b9080; }
.downloads-container { margin-bottom: 20px;}

#loading { font-size: 18px; padding: 20px 0;}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    dl.first.docutils { 

        margin-top:-27px; 

    }
}}